.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: -30vh;
  margin-bottom: 10vh;
}

@media (max-width: 800px) {
  .card {
    width: 100%;
    min-height: 40%;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: whitesmoke;
    margin-bottom: 10vh;
  }

  .title {
    opacity: 100%;
    font-family: Mark Pro, sans-serif;
    font-size: 1.6rem;
    color: white;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 0vh;
  }

  .color {
    font-family: Mark Pro, sans-serif;
    display: inline;
    font-size: 1.6rem;
    font-weight: 400;
    background: linear-gradient(
      to right,
      rgb(133, 158, 206) 20%,
      rgb(93, 92, 153) 40%,
      rgb(163, 78, 149) 60%,
      rgb(133, 158, 206) 80%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 10s linear infinite reverse;
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  .btn {
    background: none;
    border: none;
    text-align: center;
    font-size: 0.5rem;
    color: whitesmoke;
    background-color: #fa709a;
    border-radius: 2rem;
    cursor: pointer;
  }

  .exp {
    display: none;
  }
}

@media (min-width: 801px) {
  .card {
    width: 400px;
    min-height: 250px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: whitesmoke;
    margin-bottom: 10vh;
  }

  .title {
    opacity: 100%;
    font-family: Mark Pro, sans-serif;
    font-size: 2.6rem;
    color: white;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 0vh;
  }

  .color {
    font-family: Mark Pro, sans-serif;
    display: inline;
    font-size: 2.6rem;
    font-weight: 400;
    background: linear-gradient(
      to right,
      rgb(133, 158, 206) 20%,
      rgb(93, 92, 153) 40%,
      rgb(163, 78, 149) 60%,
      rgb(133, 158, 206) 80%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 10s linear infinite reverse;
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  .btn {
    background: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    color: whitesmoke;
    background-color: #fa709a;
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
    cursor: pointer;
  }

  .blob {
    position: absolute;
    width: 700px;
    height: 700px;
    background: linear-gradient(
      180deg,
      rgba(189, 47, 255, 0.42) 31.77%,
      #5c9df1 100%
    );
    mix-blend-mode: lighten;
    -webkit-animation: move 25s infinite alternate;
    animation: move 25s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    margin-bottom: 10vh;
  }

  .smallblob {
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(
      180deg,
      rgba(133, 209, 247, 0.42) 31.77%,
      #5c9df1 100%
    );
    mix-blend-mode: lighten;
    -webkit-animation: move 10s infinite alternate;
    animation: move 10s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    margin-bottom: 10vh;
  }

  .medblob {
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(
      180deg,
      rgba(47, 255, 210, 0.42) 31.77%,
      #5c9df1 100%
    );
    mix-blend-mode: lighten;
    -webkit-animation: move 15s infinite alternate;
    animation: move 15s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    margin-bottom: 10vh;
  }

  .blob:hover {
    width: 720px;
    height: 720px;
    -webkit-filter: blur(90px);
    filter: blur(30px);
    opacity: 60%;
    -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.6),
      inset 100px 100px 0 0px #fa709a, inset 200px 200px 0 0px #784ba8,
      inset 300px 300px 0 0px #2b86c5;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.6),
      inset 100px 100px 0 0px #fa709a, inset 200px 200px 0 0px #784ba8,
      inset 300px 300px 0 0px #2b86c5;
  }

  .exp {
    position: absolute;
    margin-top: 50vh;
  }

  @-webkit-keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }

  @keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
}
