.parent {
  align-items: center;
  display: flex;
  height: 60vh;
  justify-content: center;
  width: 100vw;
}

.slider {
  background: transparent;
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  /* background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%); */
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(250px * 18);
}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  border-radius: 16px;
  margin: 0px 0px 0px 80px;
  height: 250px;
  width: 200px;
}

.slide:nth-child(1),
.slide:nth-child(10) {
  background-image: url(https://i.ibb.co/WHvmQ3Z/Tiny-doggies-in-an-ultrawide-painting.jpg);
}

.slide:nth-child(2),
.slide:nth-child(11) {
  background-color: coral;
}

.slide:nth-child(3),
.slide:nth-child(12) {
  background-color: blue;
}

.slide:nth-child(4),
.slide:nth-child(13) {
  background-color: red;
}
.slide:nth-child(5),
.slide:nth-child(14) {
  background-color: orange;
}

.slide:nth-child(6),
.slide:nth-child(15) {
  background-color: purple;
}

.slide:nth-child(7),
.slide:nth-child(16) {
  background-color: pink;
}

.slide:nth-child(8),
.slide:nth-child(17) {
  background-color: navy;
}

.slide:nth-child(9),
.slide:nth-child(18) {
  background-color: lime;
}

.slider2 {
  background: transparent;
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider2::before,
.slider2::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider2::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider2::before {
  left: 0;
  top: 0;
}

.slider2 .slide-track2 {
  animation: scroll 80s linear infinite reverse;
  display: flex;
  width: calc(250px * 18);
}

.slider2 .slide-track2:hover {
  animation-play-state: paused;
}

.slider2 .slide2 {
  border-radius: 16px;
  margin: 0px 0px 0px 80px;
  height: 250px;
  width: 200px;
}

.slide2:nth-child(1),
.slide2:nth-child(10) {
  background-image: url(https://i.ibb.co/WHvmQ3Z/Tiny-doggies-in-an-ultrawide-painting.jpg);
}

.slide2:nth-child(2),
.slide2:nth-child(11) {
  background-color: coral;
}

.slide2:nth-child(3),
.slide2:nth-child(12) {
  background-color: blue;
}

.slide2:nth-child(4),
.slide2:nth-child(13) {
  background-color: red;
}
.slide2:nth-child(5),
.slide2:nth-child(14) {
  background-color: orange;
}

.slide2:nth-child(6),
.slide2:nth-child(15) {
  background-color: purple;
}

.slide2:nth-child(7),
.slide2:nth-child(16) {
  background-color: pink;
}

.slide2:nth-child(8),
.slide2:nth-child(17) {
  background-color: navy;
}

.slide2:nth-child(9),
.slide2:nth-child(18) {
  background-color: lime;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
