body {
  background-color: black;
  background-image: url("../assets/gradient.svg");
  background-attachment: fixed;
}

.heading {
  margin: auto;
  width: 85%;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Mark Pro, sans-serif;
  margin: 0 auto;
  padding-top: 20px;
}

.title {
  font-family: Mark Pro, sans-serif;
  font-size: 2.6rem;
  color: white;
  margin-bottom: 10px;
}

.subtitle {
  font-family: Mark Pro, sans-serif;
  font-size: 0.8rem;
  color: rgb(145, 136, 136);
  margin-bottom: 60px;
}

.icon {
  position: relative;
  float: left;
  margin: -30em;
  transform: scale(0.02) translateX(1050%) translateY(155%);
  padding: 0;
}
